swagger: "2.0"
info:
    description: ""
    version: "1.12.0"
    title: "PIXSEE"
host: "api.ipg-services.com"
basePath: "/api/v1"
tags:
    - name: Authorization
      description: For register, login, exchange access token...etc
    - name: Account
    - name: Device
    - name: Storage
      description: Upload and download files by app and edge
    - name: Baby
    - name: Member
    - name: Special card
    - name: Events
      description: For events detected from edge, like cry, e-fence...etc
    - name: Subscriptions
    - name: Others
      description: Some defined data, like countries, relationships...etc
schemes:
    - "https"
paths:
    /authorization/sign_up:
        post:
            tags:
                - Authorization
            summary: "Register a new account"
            description: ""
            consumes:
                - "application/json"
            parameters:
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestRegister"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /authorization/login:
        post:
            tags:
                - Authorization
            summary: "Login"
            description: ""
            consumes:
                - "application/json"
            parameters:
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestLogin"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseLogin"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /authorization/authorize:
        post:
            tags:
                - Authorization
            summary: Get access token or refesh access token
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Basic {client_id:client_secret} in base64
                  required: true
                  type: string
                - in: body
                  name: body
                  required: true
                  schema:
                      $ref: "#/definitions/RequestAuthorize"
            responses:
                200:
                    description: Success
                    schema:
                        $ref: "#/definitions/ResponseAuthorize"
                400:
                    description: "Bad request"
                    schema:
                        type: object
                        properties:
                            error:
                                type: string
                                example: invalid_request
                            error_description:
                                type: string
                                example: Client secret is not match
                500:
                    description: "Internal server error"
                    schema:
                        type: object
                        properties:
                            error:
                                type: string
                                example: server_error
                            error_description:
                                type: string
                                example: OOps!! Something wrong

    /authorization/logout:
        post:
            tags:
                - Authorization
            summary: "Logout"
            description: ""
            consumes:
                - "application/json"
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseLogout"
                401:
                    description: "Unauthorized"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/limit_info:
        get:
            tags:
                - Account
            summary: Get account info
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseLimitInfo"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/g/reset_password:
        get:
            tags:
                - Account
            summary: Request to reset user's password, it will send verify code to user
            description: ""
            consumes:
                - application/json
            parameters:
                - in: query
                  name: account
                  description: The account of request to reset password(email format)
                  required: true
                  type: string
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Account
            summary: Confirm to reset user's password
            description: ""
            consumes:
                - application/json
            parameters:
                - in: body
                  name: body
                  schema:
                      type: object
                      properties:
                          account:
                              type: string
                              description: The account (email format)
                          nPassword:
                              type: string
                              description: The new password
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/g/resend:
        get:
            tags:
                - Account
            summary: Request to resend verification email by account
            description: ""
            consumes:
                - application/json
            parameters:
                - in: query
                  name: type
                  type: string
                  description: The type of request to resend, "a" for unverified account, "p" for reset password
                  required: true
                - in: query
                  name: account
                  type: string
                  description: The email of request to resend
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/g/verify:
        get:
            tags:
                - Account
            summary: Verify code to reset password
            description: ""
            consumes:
                - application/json
            parameters:
                - in: query
                  name: type
                  type: string
                  description: The type of request, "p" for reset password
                  required: true
                - in: query
                  name: account
                  type: string
                  description: The email of request
                  required: true
                - in: query
                  name: code
                  type: string
                  description: The code for verifing
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/g/change_password:
        patch:
            tags:
                - Account
            summary: Change user's password
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: body
                  name: body
                  schema:
                      type: object
                      properties:
                          openId:
                              type: string
                              description: The unique id of account
                          oPassword:
                              type: string
                              description: The original password
                          nPassword:
                              type: string
                              description: The new password
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/g/recover:
        get:
            tags:
                - Account
            summary: Request to recover account (Not implemented)
            description: ""
            consumes:
                - application/json
            parameters:
                - in: query
                  name: account
                  type: string
                  description: The email of account
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Account
            summary: Confirm to recover account (Not implemented)
            description: ""
            consumes:
                - "application/json"
            parameters:
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestLogin"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/{openId}:
        post:
            tags:
                - Account
            summary: Update account profile by account Id
            description: ""
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: openId
                  type: string
                  description: The unique id of account
                  required: true
                - in: formData
                  name: avatar
                  type: file
                  description: The avatar file of account
                - in: formData
                  name: name
                  required: true
                  type: string
                  description: The name of account
                - in: formData
                  name: birthday
                  type: string
                  required: true
                  format: date
                  description: The birthday of account
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        delete:
            tags:
                - Account
            deprecated: true
            summary: Delete account by account Id (not complete)
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: openId
                  type: string
                  description: The unique id of account
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseDeleteAccount"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/{openId}/avatar:
        get:
            tags:
                - Account
            summary: Download account's headshot
            description: ""
            produces:
                - image/png
                - image/gif
                - image/jpeg
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: openId
                  type: string
                  description: The unique id of account
                  required: true
            responses:
                200:
                    description: Success
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /accounts/d/{accountId}:
        get:
            tags:
                - Account
            summary: Request to delete account
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: accountId
                  type: string
                  description: The identifier of account
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        delete:
            tags:
                - Account
            summary: Confirm to delete account
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: accountId
                  type: string
                  description: The identifier of account
                  required: true
                - in: query
                  name: code
                  type: string
                  description: Verify code
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /storages/o:
        post:
            tags:
                - Storage
            summary: Upload file
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: formData
                  name: openId
                  type: string
                  description: The unique id of account
                - in: formData
                  name: photo
                  type: file
                  required: true
                  description: The file of photo
                - in: formData
                  name: babyId
                  type: string
                  required: true
                  description: The unique id of baby
                - in: formData
                  name: category
                  type: string
                  required: true
                  enum: ["g"]
                  description: File category (g=common, only app usege)
                - in: formData
                  name: takeTime
                  type: number
                  required: true
                  description: The photo take time in millis, using GMT+0
                - in: formData
                  name: offset
                  type: string
                  required: true
                  description: The offset, for example, +09:00
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseUploadFile"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        patch:
            tags:
                - Storage
            summary: Hide/show files
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: body
                  name: body
                  required: true
                  schema:
                      type: object
                      properties:
                          fids:
                              type: array
                              items:
                                  type: string
                                  description: fid to be hide/show
                          hide:
                              type: boolean
                              description: Hide photos or not
                              enum: [true, false]
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /storages/od:
        post:
            tags:
                - Storage
            summary: Upload file by device
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: formData
                  name: openId
                  type: string
                  description: The unique id of account
                - in: formData
                  name: photo
                  type: file
                  required: true
                  description: The file of photo
                - in: formData
                  name: babyId
                  type: string
                  required: true
                  description: The unique id of baby
                - in: formData
                  name: category
                  type: string
                  required: true
                  enum: ["s", "c", "d"]
                  description: File category (s=smile, c=cry, d=daily)
                - in: formData
                  name: detectInfo
                  description: The detect info
                  required: true
                  type: "string"
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /storages/ov:
        post:
            tags:
                - Storage
            summary: Upload video file (Only for app)
            description: ""
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: formData
                  name: openId
                  type: string
                  required: true
                  description: The unique id of account
                - in: formData
                  name: avatar
                  type: file
                  required: true
                  description: The file of video. (mp4)
                - in: formData
                  name: thumbnail
                  type: file
                  required: true
                  description: The thumbnail file of video. (jpeg)
                - in: formData
                  name: babyId
                  type: string
                  required: true
                  description: The unique id of baby
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /storages/o/{fid}:
        get:
            tags:
                - Storage
            summary: Download file by file id
            description: ""
            produces:
                - image/png
                - image/gif
                - image/jpeg
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: fid
                  type: string
                  description: The unique id of file
                  required: true
                - in: query
                  name: type
                  type: integer
                  enum: [1, 2]
                  description: The download file type (1 = compressed 2 = thumbnail)
            responses:
                200:
                    description: Success
                    schema:
                        type: file
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        patch:
            tags:
                - Storage
            summary: Add/Edit note of photo
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: fid
                  type: string
                  description: The unique id of file
                  required: true
                - in: body
                  name: body
                  required: true
                  schema:
                      $ref: "#/definitions/RequestNote"
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseUploadFile"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        delete:
            tags:
                - Storage
            summary: Delete file by file id
            description: ""
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: fid
                  type: string
                  description: The unique id of file
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
    /storages/d/{accountId}:
        get:
            tags:
                - Storage
            summary: Request to package all files by account id
            description: ""
            produces:
                - image/png
                - image/gif
                - image/jpeg
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: accountId
                  type: string
                  description: The id of account
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: file
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /storages/s/{babyId}:
        get:
            tags:
                - Storage
            summary: Synchronize files
            description: ""
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: babyId
                  type: string
                  required: true
                  description: The unique id of baby
                - in: query
                  name: sdt
                  type: integer
                  required: true
                  description: |
                      The timestamp(mill seconds) of start time.
                - in: query
                  name: first_sync
                  type: boolean
                  required: true
                  description: Identify that request is first time to sync medias
                - in: query
                  name: skip
                  type: integer
                  description: The numbers of skip, default to 0
                - in: query
                  name: take
                  type: integer
                  description: The numbers to take, default to 0
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseSyncFiles"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /relationships:
        get:
            tags:
                - Others
            summary: Get all defined relationships to pick
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: header
                  name: accept-language
                  type: string
                  description: The locale, if empty, server will set default value to en-us
                  enum:
                      - zh-TW
                      - en-US
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseNameValuePairs"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /babies:
        post:
            tags:
                - Baby
            summary: Create a baby profile
            description: ""
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: formData
                  name: openId
                  type: string
                  required: true
                  description: The unique id of account
                - in: formData
                  name: avatar
                  type: file
                  description: The avatar file of baby
                - in: formData
                  name: name
                  required: true
                  type: string
                  description: The name of baby
                - in: formData
                  name: birthday
                  type: string
                  format: date
                  required: true
                  description: The birthday of baby
                - in: formData
                  name: gender
                  type: integer
                  enum: [0, 1]
                  required: true
                  description: The gender id of baby (0 = boy, 1 = girl)
                - in: formData
                  name: relationship
                  type: string
                  required: true
                  description: The relationship of baby
                - in: formData
                  name: nation
                  type: string
                  required: true
                  description: The nation of baby. e.g TW
                - in: formData
                  name: isBirthday
                  type: boolean
                  description: Identity the input date is birthday
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseCreateBaby"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        get:
            tags:
                - Baby
            summary: List babies with account id
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: "query"
                  name: "openid"
                  type: string
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseListBabies"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /babies/{babyId}:
        post:
            tags:
                - Baby
            summary: Update baby profile
            description: ""
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: babyId
                  type: string
                  description: The unique id of baby
                  required: true
                - in: formData
                  name: openId
                  type: string
                  required: true
                  description: The unique id of account
                - in: formData
                  name: avatar
                  type: file
                  description: The avatar file of baby
                - in: formData
                  name: name
                  required: true
                  type: string
                  description: The name of baby
                - in: formData
                  name: birthday
                  type: string
                  format: date
                  required: true
                  description: The birthday of baby
                - in: formData
                  name: gender
                  type: integer
                  enum: [0, 1]
                  required: true
                  description: The gender id of baby (0 = boy, 1 = girl)
                - in: formData
                  name: relationship
                  type: string
                  required: true
                  description: The relationship of baby
                - in: formData
                  name: nation
                  type: string
                  required: true
                  description: The country name of baby
                - in: formData
                  name: isBirthday
                  type: boolean
                  description: Identity the input date is birthday
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseCreateBaby"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /babies/d/{babyId}:
        get:
            tags:
                - Baby
            summary: Request to delete baby
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: babyId
                  type: string
                  description: The unique id of baby
                  required: true
                - in: query
                  name: openid
                  type: string
                  description: The id of account
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        delete:
            tags:
                - Baby
            summary: Confirm to delete baby
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: babyId
                  type: string
                  description: The unique id of baby
                  required: true
                - in: query
                  name: openid
                  type: string
                  description: The id of account
                  required: true
                - in: query
                  name: code
                  type: string
                  description: The verify code
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
    /pairing:
        get:
            tags:
                - Device
            summary: Request to pair device
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: babyid
                  description: The baby's identifier
                  required: true
                  type: string
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: string
                                example: Pairing key
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Device
            summary: Complete pairing device
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Basic {client_id:client_secret} in base64
                  required: true
                  type: string
                - in: body
                  name: body
                  required: true
                  schema:
                      $ref: "#/definitions/RequestPairDevice"
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponsePairDevice"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /pairing/{pairingKey}/status:
        get:
            tags:
                - Device
            summary: Checking status of pairing, response UID if succeed
            description:
                It is pairing fail if response with 4xx or 5xx status code, there will be two situations with 2xx status code
                1. Response.result is an empty string, it means that pairing is not completed yet, polling again.
                2. Response.result is not an empty string, that is UID.
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: pairingKey
                  type: string
                  required: true
                  description: Pairing key
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: string
                                example: UID
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /devices:
        get:
            tags:
                - Device
            summary: Get all devices by baby id
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: babyid
                  description: The unique id of baby
                  required: true
                  type: string
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseDeviceList"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Device
            deprecated: true
            responses:
                "503":
                    description: Not implemented

    /devices/{deviceId}:
        delete:
            tags:
                - Device
            summary: Disconnect with baby
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: deviceId
                  description: The unique id of paired device
                  type: string
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: object
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        patch:
            tags:
                - Device
            summary: Update device location and timezone
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: deviceId
                  type: string
                  description: The unique id of paired device
                  required: true
                - in: body
                  name: body
                  required: true
                  schema:
                      $ref: "#/definitions/RequestUpdateDevice"
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: object
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /device_locations:
        get:
            tags:
                - Others
            summary: Get all defined device locations to pick
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: header
                  name: accept-language
                  type: string
                  description: The locale, if empty, server will set default value to en-us
                  enum:
                      - zh-TW
                      - en-US
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseNameValuePairs"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /countries:
        get:
            tags:
                - Others
            summary: Get all countries to pick
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: header
                  name: accept-language
                  type: string
                  description: The locale, if empty, server will set default value to en-us
                  enum:
                      - zh-TW
                      - en-US
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseNameValuePairs"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /timezones:
        get:
            tags:
                - Others
            summary: Get all timezones to pick
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: header
                  name: accept-language
                  type: string
                  description: The locale, if empty, server will set default value to en-us
                  enum:
                      - zh-TW
                      - en-US
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseNameValuePairs"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /event_histories:
        post:
            tags:
                - Events
            summary: Add event(exclude crying event)
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: body
                  name: body
                  required: true
                  schema:
                      $ref: "#/definitions/RequestAddEvent"
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: object
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        get:
            tags:
                - Events
            summary: Get events by date range
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: babyid
                  type: string
                  required: true
                  description: Unique id of baby
                - in: query
                  name: sdt
                  type: number
                  required: true
                  description: Start datetime (timestamp)
                - in: query
                  name: edt
                  type: number
                  description: End datetime (timestamp), optional
                - in: query
                  name: ct
                  type: string
                  enum: ["e", "c", "t", "h"]
                  description: Optional, for filtering by event category. Without this parameter, all categories would be included. (e=e-fence,c=cry,t=temperature,h=humidity)
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseEventList"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /event_histories/c:
        post:
            tags:
                - Events
            summary: Crying recognize
            description: ""
            consumes:
                - multipart/form-data
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: formData
                  name: babyId
                  type: string
                  required: true
                  description: Unique id of baby
                - in: formData
                  name: sn
                  type: string
                  required: true
                  description: Serial number of device
                - in: formData
                  name: file
                  type: file
                  required: true
                  description: The file of voice wav
                - in: formData
                  name: temperature
                  type: string
                  required: true
                  description: The temperature
                - in: formData
                  name: humidity
                  type: string
                  required: true
                  description: The humidity
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                type: object
                                properties:
                                    isCry:
                                        type: boolean
                                        description: Baby id crying or not
                                    testResult:
                                        type: string
                                        description: Original test result from emorec
                                        example: 0@[9.3914318e-01 7.2440315e-07 4.2886545e-12 6.0856156e-02]
                                    eid:
                                        type: string
                                        description: Event id, it will be empty when isCry being false
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        get:
            tags:
                - Events
            summary: Find one crying event by event id or find one latest crying event with baby id
            description: If query parameters with both "babyid" and "eid", service would find the latest crying event first
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: eid
                  description: Event id
                  type: string
                - in: query
                  name: babyid
                  description: Baby id. ** With this parameter, system will search for the latest event of crying. **
                  type: string
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseOneEvent"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /event_histories/c/{eid}:
        patch:
            tags:
                - Events
            summary: Correct recognized result of crying
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: eid
                  description: Event id
                  required: true
                  type: string
                - in: body
                  name: body
                  description: Correct value of labeling(1=no cry, 2=wet diaper, 3=hunger, 4=painful, 5=sleepy)
                  required: true
                  schema:
                      type: object
                      properties:
                          correct_label:
                              type: number
                              enum: [1, 2, 3, 4, 5]
            responses:
                200:
                    description: Success
                    schema:
                        type: object
                        properties:
                            code:
                                type: integer
                                format: Int32
                            message:
                                type: string
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /members:
        delete:
            tags:
                - Member
            summary: Un follow a baby / remove a member
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: openid
                  type: string
                  description: The account's identifier
                  required: true
                - in: query
                  name: babyid
                  type: string
                  required: true
                  description: The baby's identifier.
                - in: query
                  name: inviteeid
                  type: string
                  description: Optional, the member's identifier. ** if this field is empty, this action will be un follow a baby, otherwise, to remove a member. **
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        get:
            tags:
                - Member
            summary: Query members of baby
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: babyid
                  type: string
                  required: true
                  description: The baby's identifier.
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseListMemberByBaby"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /members/g/invitations:
        get:
            tags:
                - Member
            summary: Query invitations that not comfirmed yet
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: openid
                  type: string
                  description: The account's identifier
                  required: true
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseInvitationList"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        put:
            tags:
                - Member
            summary: Accept or reject invitation
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestAcceptInvitation"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Member
            summary: Invite or re-invite member
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestInvite"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /members/g/permissions:
        get:
            tags:
                - Member
            summary: Query invitations that not comfirmed yet
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: openid
                  type: string
                  description: The account's identifier
                  required: true
                - in: query
                  name: babyid
                  type: string
                  description: Optional, the baby's identifier.
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponsePermissionList"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        put:
            tags:
                - Member
            summary: Create / update member's permissions
            description: Not implemented
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestPutPermissions"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /special_cards/o:
        get:
            tags:
                - Special card
            summary: Query special cards by baby
            description: To find all special cards belong to baby
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: babyid
                  type: string
                  required: true
                  description: Optional, the baby's identifier.
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseCardList"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Special card
            summary: Create new special card
            description: To create one special card for baby
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestCreateCard"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseCardInfo"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /special_cards/o/{cardId}:
        patch:
            tags:
                - Special card
            summary: Update an existed special card
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: cardId
                  type: string
                  description: The unique identifier of special card
                  required: true
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestUpdateCard"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseCardInfo"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        delete:
            tags:
                - Special card
            summary: Delete one special card, all types of card could be removed when developing
            description: ""
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: cardId
                  type: string
                  description: The unique identifier of special card
                  required: true
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /special_cards/covers:
        get:
            tags:
                - Special card
            deprecated: true
            summary: Get all covers
            description: Not implemented
            responses:
                "501":
                    description: Not Implemented

    /special_cards/covers/{coverId}:
        get:
            tags:
                - Special card
            deprecated: true
            summary: Download file by cover id
            description: Not implemented
            produces:
                - image/png
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: coverId
                  type: string
                  description: The unique identifier of cover
                  required: true
            responses:
                200:
                    description: Success
                    schema:
                        type: file
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /cases/o:
        get:
            tags:
                - Subscriptions
            summary: Query avaliable cases
            description: ""
            produces:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: code
                  type: string
                  required: true
                  enum:
                      - TW
                      - US
                  description: To find out avaliable cases by different country code
                - in: query
                  name: target
                  type: string
                  enum:
                      - official
                  description: For official website using only
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseCaseList"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /cases/p:
        get:
            tags:
                - Subscriptions
            summary: Download image of case
            description: ""
            produces:
                - image/jpeg
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: query
                  name: fid
                  type: string
                  required: true
                  description: The unique identifier of file
            responses:
                200:
                    description: Success
                    schema:
                        type: file
                400:
                    description: Bad request
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: Internal server error
                    schema:
                        $ref: "#/definitions/ErrorResponse"

    /purchases/v/{target}:
        put:
            tags:
                - Subscriptions
            summary: Verify receipt
            description: |

                To verify receipt which respond from third party like app store, google play...
                For apple >> payload = default response from app store
                For google >> payload = The value of "purchaseToken" field respond from google
                For official website >> payload = The value of "MerchantTradeNo" field respond from greenland

            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: target
                  type: string
                  description: The target to verify
                  enum:
                      - apple
                      - google
                      - official
                  required: true
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      $ref: "#/definitions/RequestVerifyReceipt"
            responses:
                200:
                    description: "Success"
                    schema:
                        type: "object"
                        properties:
                            code:
                                type: "integer"
                                format: "Int32"
                            message:
                                type: "string"
                            result:
                                $ref: "#/definitions/ResponseRegister"
                400:
                    description: "Bad request"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
                500:
                    description: "Internal server error"
                    schema:
                        $ref: "#/definitions/ErrorResponse"
        post:
            tags:
                - Subscriptions
            summary: Cancellation of purchase (Official website only)
            description: To cancel one purchase from official website
            consumes:
                - application/json
            parameters:
                - in: header
                  name: authorization
                  description: Bearer {access token}
                  required: true
                  type: string
                - in: path
                  name: target
                  type: string
                  description: Target store
                  required: true
                - in: "body"
                  name: "body"
                  required: true
                  schema:
                      type: "object"
                      properties:
                          openId:
[...]
